{% macro shorthand(property, values, mapping_key, mapping_value, quote='', key_quote='') %}
    {{ property }}:
{%  if values is string %}
      - "{{ values }}"
{%  elif values is mapping %}
{%   for key, value in values.items() %}
      - {{ caller({mapping_key: key, mapping_value: value}) if caller is defined else key_quote ~ key ~ key_quote ~ '=' ~ quote ~ value ~ quote }}
{%   endfor %}
{%  elif values | length > 0 %}
{%   for value in values %}
      - {{ caller(value) if caller is defined else quote ~ value ~ quote }}
{%   endfor %}
{%  endif %}
{% endmacro %}
services:
{% for service in _services %}
  {{ service.name }}:
{%  if service.container_name is defined %}
    container_name: {{ service.container_name }}
{%  endif %}
{%  if service.image is defined %}
{%   if service.image is mapping %}
{%    if service.image.tag is defined %}
    image: {{ service.image.name }}:{{ service.image.tag }}
{%    else %}
    image: {{ service.image.name }}
{%    endif %}
{%   else %}
    image: {{ service.image }}
{%   endif %}
{%  endif %}
{%  if service.build is defined %}
{%   if service.build | default('.') is mapping %}
{%    set _service_build_context = service.build.context | default('.') %}
    build:
{%    if _service_build_context.startswith('.') or _service_build_context.startswith('/') %}
      context: {{ _service_build_context }}
{%    else %}
      context: ./{{ _service_build_context }}
{%    endif %}
{%    if service.build.args is defined %}
{{ shorthand('args', service.user.groups) | indent(2, '') }}
{%-   endif %}
{%   else %}
    build: {{ service.build | default('.', true) }}
{%   endif %}
{%  endif %}
{%  if service.user is defined %}
{%   if service.user is mapping %}
{%    if service.user.user is defined %}
    user: {{ service.user.user }}{% if service.user.group is defined %}:{{ service.user.group }}{% endif +%}
{%     if service.user.groups is defined and service.user.groups %}
{{ shorthand('group_add', service.user.groups) -}}
{%     endif %}
{%    endif %}
{%   else %}
    user: {{ service.user }}
{%   endif %}
{%  endif %}
{%  if service.hostname is defined %}
    hostname: {{ service.hostname }}
{%  endif %}
{%  if service.command is defined and service.command %}
{{ shorthand('command', service.command)}}
{%- endif %}
{%  if service.cap_add is defined and service.cap_add %}
{{ shorthand('cap_add', service.cap_add)}}
{%- endif %}
{%  if service.cap_drop is defined and service.cap_drop %}
{{ shorthand('cap_drop', service.cap_drop)}}
{%- endif %}
{%  if service.sysctls is defined and service.sysctls %}
{%   call(sysctl) shorthand('sysctls', service.sysctls) %}
{%    if sysctl is mapping %}
"{{ sysctl.name }}={{ sysctl.value }}"
{%-   else %}
"{{ sysctl }}"
{%-   endif %}
{%   endcall %}
{%  endif %}
{%  if service.expose is defined and service.expose %}
{{ shorthand('expose', service.expose)}}
{%- endif %}
{%  if service.ports is defined and service.ports %}
{%   call(port) shorthand('ports', service.ports) %}
{%    if port is mapping %}
"{% if port.ip is defined %}{{ port.ip }}:{% endif %}{{ port.host | default(port.port) }}:{{ port.service | default(port.port) }}{% if port.protocol is defined %}/{{ port.protocol }}{% endif %}"
{%-   else %}
"{{ port }}"
{%-   endif %}
{%   endcall %}
{%  endif %}
{%  if service.devices is defined and service.devices %}
{%   call(device) shorthand('devices', service.devices) %}
{%    if device is mapping %}
"{{ device.source }}:{{ device.target }}"
{%-   else %}
"{{ device }}"
{%-   endif %}
{%   endcall %}
{%  endif %}
{%  if (service.volumes is defined and service.volumes) or (service.user is defined and (service.user.bind_etc | default(false))) %}
{%   call(volume) shorthand('volumes', service.volumes | default([]) | union(compose_bind_etc_volumes if (service.user is defined and (service.user.bind_etc | default(false))) else [])) %}
{%    if volume is mapping -%}
        type: {{ (volume.type | default('bind')) if (volume.type | default('bind')) not in ['directory', 'file'] else 'bind' }}
{%     if (volume.type | default('bind')) != "tmpfs" %}
        source: {{ volume.source if (volume.source.startswith('/') or (volume.type | default('bind')) == "volume") else _project_dir ~ '/' ~ volume.source }}
{%     endif %}
        target: {{ volume.target }}
{%-    if volume.read_only | default(false) +%}
        read_only: true
{%-    endif %}
{%-   else %}
"{{ volume if volume.startswith('/') else _project_dir ~ '/' ~ volume }}"
{%-   endif %}
{%   endcall %}
{%  endif %}
{%  if service.networks is defined and service.networks %}
{{ shorthand('networks', service.networks)}}
{%- elif service.network_mode is defined %}
    network_mode: {{ service.network_mode }}
{%  endif %}
{%  if service.env_file is defined and service.env_file %}
{%   call(env_file) shorthand('env_file', service.env_file) %}
{%    if env_file is mapping %}
{%     if env_file.source is defined %}
{{ env_file.source if env_file.source.startswith('/') else _project_dir ~ '/' ~ env_file.source }}
{%-    else %}
{{ _project_dir ~ '/' ~ service.name ~ '.env' }}
{%-    endif %}
{%-   else %}
{{ env_file }}
{%-   endif %}
{%   endcall %}
{%  endif %}
{%  if service.environment is defined and service.environment %}
{%   call(env) shorthand('environment', service.environment, 'name', 'value', '"') %}
{%    if env is mapping %}
"{{ env.name }}={{ env.value | replace("\"", "\\\"") }}"
{%-   else %}
"{{ env | replace("\"", "\\\"") }}"
{%-   endif %}
{%   endcall %}
{%  endif %}
{%  if service.restart is defined %}
    restart: {{ service.restart }}
{%  endif %}
{%  if service.labels is defined and service.labels %}
{%   call(label) shorthand('labels', service.labels) %}
{%    if label is mapping %}
"{{ label.name }}{% if label.value is defined %}={{ label.value }}{% endif %}"
{%-   else %}
"{{ label }}"
{%-   endif %}
{%   endcall %}
{%  endif %}
{% endfor %}

{% if _volumes | length > 0 %}
volumes:
{%  for volume in _volumes %}
  {{ volume.name }}:
    external: {{ volume.external | default('false') | string | lower }}
{%   if volume.alias is defined %}
    name: {{ volume.alias }}
{%   endif %}
{%   if volume.driver is defined %}
    driver: {{ network.driver }}
{%   endif %}
{%   if volume.driver_opts is defined %}
    driver_opts:
{%    for opt, value in volume.driver_opts.items() %}
      {{ opt }}: {{ value }}
{%    endfor %}
{%   endif %}
{%   if volume.labels is defined and volume.labels %}
{%    call(label) shorthand('labels', volume.labels) %}
{%     if label is mapping %}
"{{ label.name }}{% if label.value is defined %}={{ label.value }}{% endif %}"
{%-    else %}
"{{ label }}"
{%-    endif %}
{%    endcall %}
{%   endif %}
{%  endfor %}
{% endif %}

{% if _networks | length > 0 %}
networks:
{%  for network in _networks %}
  {{ network.name }}:
    external: {{ network.external | default('false') | string | lower }}
{%   if network.alias is defined %}
    name: {{ network.alias }}
{%   endif %}
{%   if network.driver is defined %}
    driver: {{ network.driver }}
{%   endif %}
{%   if network.driver_opts is defined %}
    driver_opts:
{%    for opt, value in network.driver_opts.items() %}
      {{ opt }}: {{ value }}
{%    endfor %}
{%   endif %}
{%   if network.ipam is defined %}
    ipam:
{%    if network.ipam.driver is defined %}
      driver: {{ network.ipam.driver }}
{%    endif %}
{%    if network.ipam.config is defined and network.ipam.config %}
      config:
{%     for config in network.ipam.config %}
        - subnet: {{ config.subnet }}
          ip_range: {{ config.ip_range }}
          gateway: {{ config.gateway }}
{%      if config.aux_addresses is defined %}
          aux_addresses:
{%       for opt, value in config.aux_addresses.items() %}
            {{ opt }}: {{ value }}
{%-      endfor %}
{%-     endif %}
{%-    endfor %}
{%-   endif %}
{%    if network.ipam.options is defined %}
      options:
{%     for opt, value in network.driver_opts.items() %}
      {{ opt }}: {{ value }}
{%     endfor %}
{%    endif %}
{%   endif %}
{%   if network.labels is defined and network.labels %}
{%    call(label) shorthand('labels', network.labels) %}
{%     if label is mapping %}
"{{ label.name }}{% if label.value is defined %}={{ label.value }}{% endif %}"
{%-    else %}
"{{ label }}"
{%-    endif %}
{%    endcall %}
{%   endif %}
{%  endfor %}
{% endif %}
