{% macro shorthand(property, values) %}
{%  if values is string %}
    {{ property }}:
      - "{{ values }}"
{%  elif values | length > 0 %}
    {{ property }}:
{%   for value in values %}
      - {{ caller(value) if caller is defined else '"' ~ value ~ '"' }}
{%   endfor %}
{%  endif %}
{% endmacro %}
version: '{{ docker_compose_schema_version }}'

services:
{% for container in _docker_compose_containers %}
  {{ container.service_name }}:
{%  if container.image is mapping %}
{%   if container.image.tag is defined %}
    image: {{ container.image.name }}:{{ container.image.tag }}
{%   else %}
    image: {{ container.image.name }}
{%   endif %}
{%  else %}
    image: {{ container.image }}
{%  endif %}
{%  if container.user is defined %}
{%   if container.user is mapping %}
    user: "{{ container.user.user }}{% if container.user.group is defined %}:{{ container.user.group }}{% endif %}"
{%   else %}
    user: "{{ container.user }}"
{%   endif %}
{%  endif %}
{%  if container.hostname is defined %}
    hostname: {{ container.hostname }}
{%  endif %}
{%  if container.command is defined %}
    command: {{ container.command }}
{%  endif %}
{%  if container.cap_add is defined %}
{{ shorthand('cap_add', container.cap_add)}}
{%- endif %}
{%  if container.cap_drop is defined %}
{{ shorthand('cap_drop', container.cap_drop)}}
{%- endif %}
{%  if container.sysctls is defined %}
{%   call(sysctl) shorthand('sysctls', container.sysctls) %}
{%    if sysctl is mapping %}
"{{ sysctl.name }}={{ sysctl.value }}"
{%-   else %}
"{{ sysctl }}"
{%-   endif %}
{%   endcall %}
{%  endif %}
{%  if container.expose is defined %}
{{ shorthand('expose', container.expose)}}
{%- endif %}
{%  if container.ports is defined %}
{%   call(port) shorthand('ports', container.ports) %}
{%    if port is mapping %}
"{% if port.ip is defined %}{{ port.ip }}:{% endif %}{{ port.host | default(port.port) }}:{{ port.container | default(port.port) }}{% if port.protocol is defined %}/{{ port.protocol }}{% endif %}"
{%-   else %}
"{{ port }}"
{%-   endif %}
{%   endcall %}
{%  endif %}
{%  if container.devices is defined %}
{%   call(device) shorthand('devices', container.devices) %}
{%    if device is mapping %}
"{{ device.source }}:{{ device.target }}"
{%-   else %}
"{{ device }}"
{%-   endif %}
{%   endcall %}
{%  endif %}
{%  if container.volumes is defined %}
{%   call(volume) shorthand('volumes', container.volumes) %}
{%    if volume is mapping %}
"{{ volume.source if volume.source.startswith('/') else _docker_compose_project_dir ~ '/' ~ volume.source }}:{{ volume.target }}"
{%-   else %}
"{{ volume if volume.startswith('/') else _docker_compose_project_dir ~ '/' ~ volume }}"
{%-   endif %}
{%   endcall %}
{%  endif %}
{%  if container.networks is defined %}
{{ shorthand('networks', container.networks)}}
{%- elif container.network_mode is defined %}
    network_mode: {{ container.network_mode }}
{%  endif %}
{%  if container.environment is defined %}
{%   call(env) shorthand('environment', container.environment) %}
{%    if env is mapping %}
"{{ env.name }}={{ env.value }}"
{%-   else %}
"{{ env }}"
{%-   endif %}
{%   endcall %}
{%  endif %}
{%  if container.restart is defined %}
    restart: {{ container.restart }}
{%  endif %}
{%  if container.labels is defined %}
{%   call(label) shorthand('labels', container.labels) %}
{%    if label is mapping %}
"{{ label.name }}{% if label.value is defined %}={{ label.value }}{% endif %}"
{%-   else %}
"{{ label }}"
{%-   endif %}
{%   endcall %}
{%  endif %}
{% endfor %}

{% if _docker_compose_networks | length > 0 %}
networks:
{%  for network in _docker_compose_networks %}
  {{ network.name }}:
    external: {{ network.external | default('false') | string | lower }}
{%   if network.alias is defined %}
    name: {{ network.alias }}
{%   endif %}
{%   if network.driver is defined %}
    driver: {{ network.driver }}
{%   endif %}
{%   if network.driver_opts is defined %}
    driver_opts:
{%    for opt, value in network.driver_opts.items() %}
      {{ opt }}: {{ value }}
{%    endfor %}
{%   endif %}
{%  endfor %}
{% endif %}