version: '{{ docker_compose_schema_version }}'

services:
{% for container in _docker_compose_containers %}
  {{ container.service_name }}:
    image: {{ container.image }}
{% if container.expose | default([]) | length > 0 %}
    expose:
{% for port in container.expose %}
      - "{{ port }}"
{% endfor %}
{% endif%}
{% if container.ports is defined and container.ports | length > 0 %}
    ports:
{% for port in container.ports %}
{% if port is mapping %}
      - "{% if port.ip is defined %}{{ port.ip }}:{% endif %}{{ port.host | default(port.port) }}:{{ port.container | default(port.port) }}{% if port.protocol is defined %}/{{ port.protocol }}{% endif %}"
{% else %}
      - "{{ port }}"
{% endif%}
{% endfor %}
{% endif%}
{% if container.volumes is defined and container.volumes | length > 0 %}
    volumes:
{% for volume in container.volumes %}
{% if volume is mapping %}
      - "{{ volume.source }}:{{ volume.target }}"
{% else %}
      - "{{ volume }}"
{% endif%}
{% endfor %}
{% endif%}
{% if container.networks is defined and container.networks | length > 0 %}
    networks:
{% for network in container.networks %}
      - "{{ network }}"
{% endfor %}
{% endif%}
{% if container.environment | length > 0 %}
    environment:
{% for env in container.environment %}
{% if env is mapping %}
      - "{{ env.name }}={{ env.value}}"
{% else %}
      - "{{ env }}"
{% endif%}
{% endfor %}
{% endif%}
{% if container.restart is defined %}
    restart: {{ container.restart }}
{% endif %}
{% if container.labels is defined and container.labels | length > 0 %}
    labels:
{% for label in container.labels %}
{% if label is mapping %}
      - "{{ label.name }}{% if label.value is defined %}={{ label.value }}{% endif %}"
{% else %}
      - "{{ label }}"
{% endif%}
{% endfor %}
{% endif %}
{% endfor %}

{% if _docker_compose_networks | length > 0 %}
networks:
{% for network in _docker_compose_networks %}
  {{ network.name }}:
    external: {{ network.external | default('false') | string | lower }}
{% if network.alias is defined %}
    name: {{ network.alias }}
{% endif %}
{% endfor %}
{% endif %}